@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";

    // Define profile variables 
    var name = "Kamel Baalbaki";
    var studentNumber = "101496645";
    var courseCode = "COMP2139";
    var courseSection = "50272";
    
}

<h2>About</h2>

<div>
    <h2>Welcome to application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Section: @courseSection</p>
</div>